/*
 * Skin: Blue
 * ----------
 */
@use "sass:color";

@import "../../../resources/static/bootstrap/_mixins.scss";
@import "../mixins";

.skin-blue {
  .navbar {
    @include navbar-variant("skin-blue", $light-blue);

    .sidebar {
      color: #fff;

      &:hover {
        background-color: darken($light-blue, 5%);
      }
    }

    .navbar-brand {
      color: #fff;
      font-size: 24px;
      text-align: center;
      font-weight: 300;
    }
  }

  @include dialog-variant("skin-blue", $light-blue);

  @include sidebar-variant("skin-blue", $light-blue, $light-blue);
}
