.app-main {
  .app-content-header {
    h1 {
      margin: 0;
      font-size: 24px;

      small {
        font-size: 15px;
        display: inline-block;
        padding-left: 4px;
        font-weight: 300;
        color: #777;
      }
    }
  }
}
