.error-page {

  width: 600px;
  margin: 20px auto 0 auto;
  //For the error number e.g: 404
  .headline {
    float: left;
    font-size: 100px;
    font-weight: 300;
  }
  //For the message
  .error-content {
    margin-left: 190px;
    > h3 {
      font-weight: 300;
      font-size: 25px;
    }
    display: block;
  }
}
