/*
 * variables
 */
@import 'adminlte/bootstrap-variables';
@import 'pfadm/variables';
@import 'primefaces-theme/primefaces-admin/variables';

// skins
@import "pfadm/skins/all-skins";

/*
 * components
 */
@import 'primefaces-theme/theme-base/_components';
//@import "pfadm/primefaces/components/basic";
//@import "pfadm/primefaces/components/links";
@import "pfadm/primefaces/components/buttons";
//@import "pfadm/primefaces/components/containers";
//@import "pfadm/primefaces/components/datatable";
@import "pfadm/primefaces/components/panels";
//@import "pfadm/primefaces/components/sidebar";

/*
 * extensions
 */
@import "pfadm/adminlte/adminlte";
@import "adminlte/adminlte";
