// variables
@import '../resources/static/adminlte/bootstrap-variables';
@import 'pfadm/variables';
@import 'primefaces-theme/primefaces-admin/variables';

// skins
@import "pfadm/skins/all-skins";

// styles
@import 'pfadm/styles/styles';

// components
// AdminLTE and BootStrap
@import "../resources/static/adminlte/adminlte";
@import "../resources/static/bootstrap/bootstrap";

 // components
@import 'primefaces-theme/theme-base/_components';

@import "pfadm/primefaces/components/header";
@import "pfadm/primefaces/components/links";
@import "pfadm/primefaces/components/containers";
@import "pfadm/primefaces/components/buttons";
@import "pfadm/primefaces/components/panels";
@import "pfadm/primefaces/components/datatable";
@import "pfadm/primefaces/components/tabview";
@import "pfadm/primefaces/components/sidebar";
@import "pfadm/primefaces/components/selectcheckboxmenu";
@import "pfadm/primefaces/components/dialog";
