// Content Header
.app-content-header {
  position: relative;
  padding: 15px 15px 0 15px;
  // Header Text
  & h1 {
    margin: 0;
    font-size: 24px;

    & small {
      font-size: 15px;
      display: inline-block;
      padding-left: 4px;
      font-weight: 300;
    }
  }
}

.app-header {
  position: sticky;
  top: 0;
}

