body {
  div {
    &.ui-sidebar {
      a {
        &.ui-sidebar-close {
          padding: 0;
          border: none;
        }
      }
    }
  }
}

.sidebar-menu {
  .nav-item {
    .nav-link{
      color: $admin-text-color;
      display: flex;
      align-items: center;
    }
  }
}

a {
  &.sidebar-toggle {
    overflow: hidden;
    position: relative;
  }
}


ul {
  &.sidebar-menu {
    li {
      &.header {
        text-transform: uppercase;
      }

      &.treeview {
        i {
          &.fa-angle-left {
            &:before {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}


