/* 1. Eliminate cell padding and shrink font */
.ui-datatable.extra-compact .ui-datatable-data > tr > td {
  padding: 1px 4px !important; /* Minimal vertical padding */
  font-size: 90% !important; /* Shrunk font */
  //font-weight: 300 !important;
}

/* 2. Shrink the header to match */
.ui-datatable.extra-compact thead th {
  padding: 4px 6px !important;
  font-size: 95% !important;
}