/* 1. Eliminate cell padding and shrink font */
.ui-datatable.extra-compact .ui-datatable-data > tr > td {
  padding: 0px 1px !important;
  font-size: 90% !important;
}

/* 2. Shrink the header to match */
.ui-datatable.extra-compact thead th {
  padding: 3px 2px !important;
  font-size: 90% !important;
}