body {
  div.ui-sidebar {
    background: $panelContentBg;
    color: $panelContentTextColor;
    padding: $panelContentPadding;
    border: $overlayContentBorder;
    box-shadow: none;

    .ui-sidebar-close {
      padding: 0;
      @include action-icon();

      .ui-icon {
        @include icon-override("\e90b");
      }
    }

    &.ui-sidebar-active {
      box-shadow: $overlayContainerShadow;
    }
  }
}

ul.sidebar-menu {
  li.header {
    text-transform: uppercase;
  }

  li.treeview {
    i.fa-angle-left:before {
      font-weight: 600;
    }
  }
}
