@use "../../../../resources/static/bootstrap/mixins" as bs-mixins;

@mixin border-radius-all($top-left, $top-right, $bottom-left, $bottom-right) {
  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-right-radius: $bottom-right;
  border-bottom-left-radius: $bottom-left;
}

@mixin border-radius($radius: $border-radius, $fallback-border-radius: false) {
  border-radius: bs-mixins.valid-radius($radius);
}

