
@mixin dialog_variant($name, $bgcolor) {
  .ui-dialog {
    .ui-dialog-titlebar {
      background-color: $bgcolor;
      color: color-contrast($bgcolor);
    }
    .ui-dialog-titlebar-icon {
      color: color-contrast($bgcolor) !important;
    }
  }
}
