//
// Mixins: Sidebar
//

@import "../../../../resources/static/adminlte/variables";

// Sidebar Variant
@mixin sidebar-variant($name, $color, $bgcolor) {
  .brand-text {
    color: white;
  }

  .sidebar-menu {
    .nav-link{
      color: $admin-text-color;
      display: flex;
      align-items: center;

      i, span {
        line-height: 1;
      }
    }
    .tree, .sidebar-menu.tree ul {
      list-style: none !important;
      padding-left: 0 !important;
    }
  }

  .sidebar-wrapper {
    background-color: white;
    border: 1px solid $card-border-color;
  }

  .sidebar-brand {
    border: 1px solid $color;
    color: $color;
    background-color: $bgcolor;
    height: $lte-app-header-height;

    .brand-text {
      color: white;
      font-weight: bold;
      font-size: 1.8em;
    }
  }
}
