//
// Mixins: Sidebar
//

@import "../../../adminlte/variables";

// Sidebar Variant
@mixin sidebar-variant($name, $color, $bgcolor) {

  .brand-text {
    color: white;
  }

  .sidebar-brand {
    border: 0;
    height: $lte-app-header-height;

    .brand-text {
      font-weight: bold;
      font-size: 1.8em;
    }
  }
}
