@use "../../resources/static/bootstrap/vendor/rfs" as bs-rfs;

@import "../../resources/static/adminlte/bootstrap-variables";
@import "variables";

@import "adminlte/mixins/navbar";
@import "adminlte/mixins/sidebar";

@import "primefaces/mixins/buttons";
@import "primefaces/mixins/datagrid";
@import "primefaces/mixins/datatable";
@import "primefaces/mixins/panel";
